/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');

/* Sections style */
@import url('./header.css');
@import url('./badges.css');
@import url('./back-link.css');

body {
  font-family: 'Montserrat', sans-serif;
  margin: 24px;
  color: #2E2F42;
  display: block;
}

.timer-controls {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 32px;
}

#datetime-picker {
  padding: 8px 16px;
  font-size: 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 232px;
  outline: none;
  transition: border-color 0.3s;
  font-family: inherit;
}

#datetime-picker:hover,
#datetime-picker:focus {
  border-color: #000;
}

button[data-start] {
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 500;
  background-color: #4E75FF;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: inherit;
}

button[data-start]:hover {
  background-color: #6C8CFF;
}

button[data-start]:disabled {
  background-color: #CFCFCF;
  color: #989898;
  cursor: not-allowed;
}

.timer {
  display: flex;
  gap: 24px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  font-size: 40px;
  line-height: 1.2;
  font-weight: 500;
}

.label {
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
}

.container {
  text-align: center;
  margin-top: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 360px;
  margin: 40px auto;
}

.form label {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 16px;
  color: #2E2F42;
}

.form input[type="number"] {
  width: 100%;
  height: 40px;
  padding: 8px 16px;
  font-family: inherit;
  font-size: 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

.form input[type="number"]:hover,
.form input[type="number"]:focus {
  border-color: #000;
}

fieldset {
    margin: 0;
    padding: 0;
    border: 1px solid #808080;
    border-radius: 4px;
    width: 100%;
    height: 64px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding-top: 10px;
}

legend {
    font-size: 12px;
    padding: 0 4px;
    color: #2E2F42;
    margin-left: 12px;
    float: none;
    width: auto;
}


fieldset label {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-size: 16px;
  margin: 0;
}

input[type="radio"] {
  margin: 0;
  width: 20px;
  height: 20px;
  accent-color: #4E75FF;
  cursor: pointer;
}

button[type="submit"] {
  width: 100%;
  height: 40px;
  background-color: #4E75FF;
  color: #fff;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #6C8CFF;
}